.form {
  width: 700px;
  background: rgba(255, 255, 255, 0.5);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgb(145, 145, 145);
  backface-visibility: hidden;
  transform: scale(1);
  transition: transform 0.25s ease-out;
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  width: 30%;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.1);
}

.GuideText {
  margin: 1rem;
  text-align: center;
  /* max-width: 670px; */
  font-size: 1.5rem;
}

.input {
  background-color: rgba(255, 255, 255, 0.103);
  margin-right: auto;
  margin-left: auto;
  font-size: 1.25rem;
  padding: 0.5rem;
  width: 70%;
}
