.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  margin: 1rem;
  top: 0;
  left: 0;
}

.Tilt {
  /* background: linear-gradient(89deg, #ffffff 0%, #b4b4b4 100%); */
}

@media (max-width: 530px) {
  .Logo h2 {
    display: none;
  }
}
