.App {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgb(190, 188, 188) 0%,
    rgba(213, 213, 213, 1) 100%
  );
}

.center {
  display: flex;
  justify-content: center;
}
